@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: url(assets/bg-main-desktop.png) no-repeat center center fixed;
}

/*full size desktop css*/

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 10%;
}

.navbar {
    height: 60px;
}

.navbar .logo {
    max-height: 35px;
    margin-top: 35px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.navbar .nav-image{
    min-height: 300px;
    margin-top: -35px;
}

.header h1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 90%;
}

.header p {
    line-height: 1.5rem;
}

.info .container {
    background-color: #191826;
    height: 400px;
    width: 900px;
    border-radius: 12px;
    margin-top: 12rem;   
}

.info .phone-screen {
    max-height: 450px;
    position: relative;
    margin-top: -150px;
    margin-left: 90px;
    z-index: 5;
}

.info .center-background {
    max-height: 300px;
    margin-top: -20px;
    margin-left: -50px;
}

.info .info-panel {

}