@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url(assets/bg-main-desktop.png) no-repeat center center fixed;
}

/*full size desktop css*/

@media only screen and (min-width: 900px) {

    .header-logo {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 3rem;
        margin-left: 4rem;
    }

    .header-image {
        position: absolute;
        right: 0;
        top: 0;
        width: 18vh;
    }

    .main-heading {
        position: absolute;
        top: 8vh;
        left: 8rem;
    }

    .main-heading h1 {
        font-size: 60px;
        max-width: 40rem;
    }

    .main-heading p {
        font-size: 15px;
        max-width: 40rem;
    }

    .main-info {
        background-color: #191826;
        position: relative;
        top: 10vh;
        height: 25rem;
        width: 80vw;
        border-radius: 10px;
    }

    .phone-screen {
        position: relative;
        height: 25rem;
        left: 6rem;
        bottom: 8rem;
        z-index: 1;
    }

    .center-background {
        position: relative;
        margin-left: 1rem;
        bottom: 10vh;
        height: 20rem;
    }

    .info-panel {
        position: relative;
        background-color: #FA7453;
        width: 18rem;
        height: 26rem;
        bottom: 30vh;
        left: 45vw;
        color: white;
        padding: 1rem;
        border-radius: 10px;
    }

    .price {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .price-number {
        font-size: 3rem;
        margin-right: 1rem;
    }

    .info-btn {
        display: flex;
        flex-direction: column;
    }

    .info-btn button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-btn button img {
        margin-right: 5px;
    }

    .ios {
        background-color: black;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    .android {
        background-color: white;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
    }

    .footer {
        display: flex;
        position: absolute;
        bottom: 5vh;
    }

    .footer-logo {
        position: fixed;
        left: 0;
        margin-left: 4rem;
    }

    .footer-info {
        width: 350px;
    }

    .footer-icons {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50vw;
    }

    .footer-icons img {
        padding: 5px;
    }

}