@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: url(assets/bg-main-desktop.png) no-repeat center center fixed;

}

/*full size desktop css*/

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 10%;
}

.navbar {
    height: 60px;
}

.navbar .logo {
    max-height: 35px;
    margin-top: 35px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.navbar .nav-image{
    max-height: 300px;
    position: absolute;
    right: 0;
    top: -20px;
    
}

.header .container {
    max-width: 800px;
}

.header h1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 90%;
}

.header p {
    line-height: 1.5rem;
    max-width: 650px;
}

.info .container {
    background-color: #191826;
    height: 400px;
    width: 850px;
    border-radius: 12px;
    margin-top: 12rem;   
    display: flex;
    justify-content: center;
}

.info .phone-screen {
    max-height: 450px;
    position: relative;
    margin-top: -150px;
    z-index: 5;
}

.info .center-background {
    max-height: 300px;
    margin-top: -20px;
    margin-left: -50px;
}

.info .info-panel {
    background-color: #FA7453;
    max-width: 325px;
    height: 425px;
    z-index: 5;
    border-radius: 12px;
    margin-top: 100px;
    margin-left: -50px;
    padding: 2em;
}

.info h2 {
    color: #fff;
    font-size: 30px;
}

.info p {
    color: #fff;
}

.info .price {
    color: #fff;
    display: flex;
    align-items: center;
}

.info object {
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
}

.info .info-btn {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.info .info-btn .ios {
    margin-bottom: 10px;
    min-height: 40px;
    border-radius: 8px;
    background-color: #191826;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.info .info-btn .ios img {
    margin-right: 10px;
}

.info .info-btn .ios:hover {
    background-color: aqua;
    cursor: pointer;
}

.info .info-btn .android {
    margin-bottom: 10px;
    min-height: 40px;
    border-radius: 8px;
    background-color: #FFF;
    color: #191826;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.info .info-btn .android img {
    margin-right: 10px;
}

.info .info-btn .android:hover {
    background-color: #FFB964;
    cursor: pointer;
}

.footer .container {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
    margin-bottom: 50px;
}

.footer .footer-info {
    max-width: 300px;
}

.footer .footer-icons {
    display: flex;
    justify-content: space-around;
    max-height: 20px;
}

.footer .footer-icons img {
    margin-right: 20px;
}

.footer .footer-icons img:hover {
    background-color: #FA7453;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        max-width: 600px;
    }

    .header h1 {
        font-size: 45px;
        font-weight: bold;
        line-height: 90%;
        max-width: 400px;
    }
    
    .header p {
        max-width: 425px;
        line-height: 1.5rem;
    }

    .info .phone-screen {
        position: absolute;
        margin-left: -150px;
    }

    .info .info-panel {
        position: absolute;
        margin-left: 200px;
    }

    .info .center-background {
        position: absolute;
        margin-top: auto;
    }

    .footer .container {
        display: grid;
        grid-template-columns: 300px 200px;
        grid-gap: 20px;
        justify-items: stretch;
        align-items: stretch;
    }

    .footer .footer-info{
        grid-column-end: 2;
    }

    .footer .footer-icons {
        grid-column-end: 3;
        justify-content: center;
    }
}

@media (max-width: 375px ) {
    .navbar .nav-image {
        display: none;
    }

    .info .container {
        margin: 0;
        margin-top: 25%;
        max-width: 100%;
    }

    .info .phone-screen {
        max-height: 300px;
        margin-top: -15%;
        margin-left: -20%;
    }

    .info .center-background {
        min-width: 150px;
        margin-top: 0;
        margin-left: -25%;
    }

    .info .info-panel {
        margin: 0;
        margin-top: 75%;
        min-width: 100%;
        z-index: 1;
    }
    
    .footer .container{
        margin-top: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}