@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/*full size desktop css*/

@media only screen and (min-width: 900px) {
    body {
        background-image: url(assets/bg-main-desktop.png);
    }
}

.header-logo {
    position: fixed;
    left: 0;
    top: 0;
    margin: 3rem;
}

.header-image {
    position: fixed;
    right: 0;
    top: 0;
}
